@font-face {
  font-family: Norse-Bold;
  src: url(../fonts/Norse-Bold.otf);
}


body {
  margin: 0px;
  padding: 0px;
  font-family: Norse-Bold, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url('./images/bcg.jpg');
  width: 35vw;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /*font-family: Norse-Bold sans-serif;*/
}

.right {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 65vw;

}

.first {
  height: 25vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 5%;
  margin-top: 5%;
  

}

.second {
  height: 45vh;
  background-color: white;
  align-items: center;
  box-shadow: 2px 5px #888888;
}

.form-main-div {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  width: 60%;
  justify-content: space-between;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
  

input {
  width: 200px;
  border: 1px solid #e5e7eb;
  height: 25px;
  border-radius: 5px;
  
}

input:focus {
  border: 3px solid blue;
}

input:invalid {
  border: 1px solid red;
}

label {
  font-size: 10px;
  color: #3b3b3c;
}

#error {
  color: red;
  font-size: 10px;
  margin: 1px;
}

.btn-green{
  background-color: #596D48;
  color: white;
  border: 1px solid #596D48;
  border-radius: 10px;
  height: 40px;
  width: 175px;
  font-weight: bolder;
  font-size: small;
  box-shadow: 2px 5px #888888;
}

.third {
  margin-left: 50px;
  margin-top: 25px;
  }

.hyperlink {
  margin-left: 50px;
  margin-bottom: 25px;
}

a {
  color: #596D48;
  text-decoration: none;
  font-weight: bold;
}
