@font-face {
  font-family: Norse-Bold;
  src: url(../fonts/Norse-Bold.otf);
}


body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url('./images/bcg.jpg');
  width: 35vw;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /*font-family: Norse-Bold sans-serif;*/
}

.right {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 65vw;

}

.first {
  height: 33vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;

}

.second {
  height: 33vh;
  background-color: white;
}

.third {
  height: 33vh;
}